.wrapper {
	padding: 0 var(--container-padding);
	max-width: var(--container-width);
	width: 100%;
	margin: 0 auto;
}

.wrapper-right {
	/* overflow-x: hidden; */
	padding-left: calc(
		(100% - var(--container-width)) / 2 + var(--container-padding)
	);

	@media (max-width: var(--laptop-size)) {
		padding-left: var(--container-padding);
	}
}

.wrapper-left {
	/* overflow-x: hidden; */
	padding-right: calc(
		(100% - var(--container-width)) / 2 + var(--container-padding)
	);

	@media (max-width: var(--laptop-size)) {
		padding-right: var(--container-padding);
	}
}
