@font-face {
    font-display: swap;
    font-family: DINPro;
    font-style: normal;
    font-weight: 400;
    src: url(../../fonts/DINPro.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: DINPro;
    font-style: normal;
    font-weight: 500;
    src: url(../../fonts/DINPro-Medium.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: DINPro;
    font-style: normal;
    font-weight: 700;
    src: url(../../fonts/DINPro-Bold.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: DINPro;
    font-style: normal;
    font-weight: 900;
    src: url(/../../fonts/DINPro-DINPro-CondensedBlack.woff2) format("woff2")
}