.faq-dog {
  &__container {
    margin-bottom: 48px;

    @media (max-width: 767px) {
      margin-bottom: 23px;
    }
  }

  &__title {
    margin-bottom: 54px;
    text-align: center;
  }

  &__section {
    margin-bottom: 40px;

    @media (max-width: 767px) {
      margin-bottom: 30px;
    }
  }
}
