.tips-short {
    &__title {
        margin: 0 auto 60px;
        text-align: center;

        @media (max-width: 767px) {
            max-width: auto;
            margin-bottom: 20px;
            text-align: left;
        }
    }

    &__content {
        margin-bottom: 40px;

        @media (max-width: 767px) {
            margin-bottom: 30px;
        }
    }
}