.article-detail-sources-section {
  margin-bottom: 40px;

  &__title {
    margin-bottom: 10px;
  }

  &__list {
    display: grid;
    gap: 4px;
  }

  &__item {
    counter-increment: num;

    &::before {
      content: counter(num) " — ";
    }
  }
}
