@use "../base/mixins";

.email-discount {
  margin: 26px 0;

  @media (max-width: 767px) {
    margin: 40px 0 60px;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;

    @media (max-width: 767px) {
      gap: 20px;
    }
  }

  &__icon {
    width: 78px;
    height: 84px;

    @media (max-width: 767px) {
      width: 88px;
      height: 100px;
      margin-bottom: 4px;
    }
  }

  &__text {
    color: var(--secondary-interface-dark);

    &-title {
      @include mixins.text("big");
      & {
        font-size: 40px;
      }
    }

    &-subtitle {
      margin-top: -6px;
    }
  }

  &__form {
    display: flex;
    flex-grow: 1;
    align-items: center;
    gap: 30px;

    @media (max-width: 767px) {
      flex-direction: column;
      align-items: start;
    }
  }

  &__input {
    width: 100%;
  }

  &__button {
    min-width: 208px;

  }
}
