.product-card {
  display: flex;
  flex-direction: column;
  padding: 14px 15px 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 var(--primary-black-shadow);

  &__image {
    width: 100%;
    object-fit: cover;
  }

  &__content {
    flex-grow: 1;
    margin-top: 12px;
  }

  &__title {
    @media (max-width: 767px) {
      text-align: center;
    }
  }

  &__description {
    &:not(:empty) {
      margin-top: 5px;
    }
  }

  &__buttons {
    margin-top: 20px;

    button {
      margin-inline: auto;
    }
  }
}
